<mat-toolbar>
  <a routerLink="home">LOGÍSTICA</a>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" aria-label="Menu Options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu-custom">
      <button mat-menu-item routerLink="home/dashboard">
        <mat-icon>space_dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item routerLink="home/delivey">
        <mat-icon>list</mat-icon>
        <span>Lista de Entregas</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>